<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><TMPL_VAR name></title>
        <link rel="stylesheet" href="https://www.fungineers.net/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="planet.css">
    </head>

    <body>
        <div class="fun-nav">
            <ul>
                <li><a href="https://fungineers.net/">Home</a></li>
                <li class="hide-nav"><a href="https://fungineers.net/community/">Community</a></li>
                <li class="hide-nav"><a href="https://fungineers.net/servers/">Servers</a></li>
                <li class="hide-nav"><a href="#about">About</a></li>
                <li class="dropdown-nav">
                    <div class="dropdown">
                        <a href="#">Menu</a>

                        <div class="dropdown-content">
                            <a href="https://fungineers.net/community/">Community</a>
                            <a href="https"//fungineers.net/servers/">Servers</a>
                            <a href="#about">About</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <div class="fun-logo">
            <img class="fun-logo" src="https://fungineers.net/images/fungineers-logo.png" alt="Logo">
        </div>

        <div class="fun-content">
            <div id="planetnews">
				<table>
					<tr class="nostripe">
						<td>
                			<h2><TMPL_VAR name></h2>
                		</td>
                	</tr>
                	<TMPL_LOOP Items>
                	<tr class="nostripe">
                		<td>
                			<h4><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h4>
                			<p class="date"><TMPL_VAR date></p>
                			<div><TMPL_VAR content></div>
                			<div style="font-size:x-small;text-align:right;">
                    			<TMPL_IF author><TMPL_VAR author> @ </TMPL_IF><a href="<TMPL_VAR channel_link ESCAPE="HTML">"><TMPL_VAR channel_name></a>
                			</div>
                		</td>
                	</tr>
                	</TMPL_LOOP>
                </table>
            </div>
        </div>

        <div class="fun-content" id="info">
            <div id="sidebar">
            	<table>
                	<tr>
                		<td>
                			<h4 id="sub">Subscribe</h4>
                			<ul>
                			<TMPL_LOOP Channels>
                    			<li><a href="<TMPL_VAR url ESCAPE="HTML">"><img src="rss.png" alt="(feed)" style="border:none" /></a>&nbsp;<a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR name></a></li>
                			</TMPL_LOOP>
                			</ul>
                			<h4>Feeds</h4>
                			<ul>
                    			<li><img src="rss.png" alt="(feed)" style="border:none" /></a>&nbsp;<a href="atom.xml">ATOM 1.0</a>
                    			<li><img src="rss.png" alt="(feed)" style="border:none" /></a>&nbsp;<a href="rss20.xml">RSS 2.0</a>
                    			<li><img src="rss.png" alt="(feed)" style="border:none" /></a>&nbsp;<a href="rss10.xml">RSS 1.0</a>
                    			<li><img src="rss.png" alt="(feed)" style="border:none" /></a>&nbsp;<a href="foafroll.xml">FOAF</a>
                    			<li><img src="rss.png" alt="(feed)" style="border:none" /></a>&nbsp;<a href="opml.xml">OPML</a>
                			</ul>
                			<p>Brought to you by the <a href="http://www.planetplanet.org/">Planet</a> aggregator, cron, and <a href="http://www.python.org/">Python</a>.
                			<p>If you wish to be added to <TMPL_VAR name>, contact markzz in <a href="https://discord.me/fungineers">Discord</a>.
                		</td>
                	</tr>
                </table>
            </div>
        </div>

    </body>
</html>
