h2 {
    margin-top: 0 !important;
}

.venus {
    padding: 30px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

#info {
    margin-bottom: 30px;
}

#sub {
    margin-top: 0 !important;
}
